spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/track_test
    username: track
    password: track
  
  data:
    redis:
      host: localhost
      port: 6379
  
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    root: WARN
    com.track: DEBUG

